<h1>Words#index</h1>
<%= link_to 'つぶやく', new_word_path %>

<table>
  <tr>
    <th>つぶやき一覧</th>
  </tr>

<% @words.each do |word| %>
  <tr>
    <td><%= word.content %></td>
    <td><%= link_to 'つぶやきを表示', word_path(word.id) %></td>
  </tr>
<% end %>
</table>