// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #6666FF;
}

h1 {
  background-color: #00CCFF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

table {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.list {
  font-size: 1.5rem;
}